.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.left-section {
  flex: 1;
  background: linear-gradient(to bottom right, #042c2c, #061f1f);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.right-section {
  flex: 1;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: flex;
  align-items : center;
  gap: 10px;
  margin-bottom: 10px;
}

.emoji-brain {
  font-size: 2.5rem;
  display: inline-block;
}

.subtitle {
  font-size: 0.8rem;
  color: #707a79;
  margin-top: 0px;
  margin-bottom: 20px;
  font-style: italic;
  position: relative;
}

.subtitle::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 1px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.1);
}

.ai-face {
  background-color: var(--gradient-color1);
  border-radius: 50%;
  padding: 30px;
  font-size: 2rem;
  margin: 20px 0;
}

.welcome-text {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 30px;
  font-style: italic;
}

.features button {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px 25px;
  margin: 10px auto;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  max-width: 350px;
  text-align: left;
}

.giris-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.giris-sub {
  color: #ccc;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form input {
  width: 80%;
  max-width: 350px;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #1a1a1a;
  color: white;
  font-size: 13px;
}

.giris-button {
  width: 80%;
  max-width: 350px;
  background: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2));
  border: none;
  padding: 15px;
  margin-top: 10px;
  color: white;
  font-weight: 650;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.giris-button:hover {
  opacity: 0.8;
}

.register {
  margin-top: 15px;
  color: #999;
}

.kayit {
  color: var(--gradient-color1);
  cursor: pointer;
}
